<a href="https://colab.research.google.com/github/adeleke123/Academic-Labs/blob/main/COS_101_Lab_1_Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 1: Introduction to Python Programming**

**By MIVA Open University**

**Content Creator:** Ezekiel Adebayo Ogundepo

- [RStudio Certifed Instructor](https://education.rstudio.com/trainers/people/ogundepo+ezekiel_adebayo/)

- Package developer: [forstringr](https://github.com/gbganalyst/forstringr/) and [bulkreadr](https://github.com/gbganalyst/bulkreadr/)

**Content Editor:** Dr. Emeka Ogbuju

# Laboratory Objectives

By the end of these experiments, learners should be able to do the following:

1. Proficiently navigate the Anaconda distribution for Python and effectively utilize Google Colab.
1. Exhibit proficiency in handling various Python data types.
1. Demonstrate the ability to create Python variables proficiently.
1. Competently execute operations on variables in Python.


# Before Starting This Module:

Learners are advised to create a copy of this Google Colab notebook by selecting `File` > `Save a Copy in Drive`, which will allow them to execute various code snippets and practice using different examples.

# Python Programming language

Python is a powerful general-purpose programming language. It is an open-source and easy-to-use language that was created by Guido van Rossum in 1991. Python is used in data science, web development, and so on. Its simple easy-to-use syntax makes Python an excellent language to learn to program for beginners. Python was designed for readability, and has some similarities to the English language with influence from mathematics.

<img src="https://drive.google.com/uc?id=1Es3c26bnpZjr4gHckyx4EwBaqKUB1Pca" alt="Python Programming">

# Why Python?


1. It is easy to learn, and the code is readable.
2. It is one of the most popular programming languages
3. There is a lot of Open Source contribution on Python. i.e. People has made a lot of free contribution on python to make programming easier for others.
4. Instructions are given in a shorter code compared to that of other programming languages. For example, the figure below shows how to print `Hello World`. Mere looking at the code, we would see that python's syntax is shorter and easy to read.

<img src="https://drive.google.com/uc?id=1wkKl7CRye_yHYCCCILFwV1aRXmNzLPCO">

# Experiment 1.1: Anaconda Distribution, Jupyter Lab Notebook, and Google Colab

## Software Installation

Anaconda is a distribution of the Python for scientific computing, that aims to simplify package management and deployment. The distribution includes data-science packages suitable for Windows, Linux, and macOS.

Install and download Anaconda Distribution via https://www.anaconda.com/products/individual#windows


## Anaconda navigator

Anaconda Navigator is a desktop graphical user interface (GUI) included in Anaconda distribution that allows users to launch applications without using command-line commands.

<img src="https://drive.google.com/uc?id=1YINCeby9v6qQECV_e1IPa677PJJtPpWj">

You can launch Anaconda Navigator by typing Anaconda Navigator on the search bar, then double click on the Anaconda Navigator (Anconda3)

<img src="https://drive.google.com/uc?id=1kcr-I5oCUFgxwN7maZlCiP_sxqSHm3mA">

## Introduction to Jupyter Lab Notebook

Among the applications present in the Anaconda are JupyterLab Notebook

<img src="https://drive.google.com/uc?id=1ZjfbbMfbsDj6v_Bkoxk1TvmKx7nyAMn4">

JupyterLab Notebook is a web application that allows you to create and share documents that contain:

* live code (e.g. Python code)

* explanatory text (written in markdown syntax)

* visualizations

JupyterLab Notebook is great for the following use cases:

* learn and try out Python
* data processing / transformation
* statistical analysis
* train machine learning models

## JupyterLab interface


<img src="https://drive.google.com/uc?id=1_8mX24y-bFPob5Fndo0qW1Cn-fLbYDOt">

## How to launch JupyterLab Notebook

Now that you know JupyterLab Notebook, let's seee how to launch it.

There are two ways of launching JupyterLab and/or Jupyter Notebook.


1. Anaconda Navigator

2. Through terminal or Anaconda Prompt

# Example 1.1.1: Anaconda Navigator

You can launch Anaconda Navigator by typing Anaconda Navigator on the search bar

<img src="https://drive.google.com/uc?id=1kcr-I5oCUFgxwN7maZlCiP_sxqSHm3mA">


Locate JupyterLab Notebook and then click on Launch


<img src="https://drive.google.com/uc?id=1ZaIBkDq6do3hajAeX8hyHJc46f_t5UtU">

# Example 1.1.2: Through terminal or Anaconda Prompt

We can also launch JupyterLab and/or Jupyter Notebook through the terminal or Anaconda Prompt. To do that, type Anaconda Prompt on the search bar and double click on Anaconda Prompt (Anaconda3)

<img src="https://drive.google.com/uc?id=1M5hDPezrPelgxA80tgpqOdTKgCXjpmSE">

A comman prompt window will come up, then type jypyter lab and press enter (or return) from your keyboard.


<img src="https://drive.google.com/uc?id=1eJ219hlBp_JqwBkI0YTp5U8B8yOHFKNZ">

## How to navigate through JupyterLab notebook Interface

After launching JupyterLab, you will see interface to looks like this:

<img src="https://drive.google.com/uc?id=1lNLyDIeO3_qlaCJjam_AAbQoL8MuNc5H">

- `1` shows where you can select a folder or file that may contain your already worked on Jupyter Notebook (`.ipynb`).
- `2` shows where you can create a new notebook
- `3` shows where to cretae a new script
- `4` we can install some new package(s) with the terminal

Let's start by clicking on Python 3 to create a new notebook

<img src="https://drive.google.com/uc?id=117snk11t8c_IrmkeSa-K0KUpWSmwjO6x">


- `1` a new cell

- `2` shows where to change the type of cell. We have `Code` (a pure python code) , `Markdown` (markdown texts) or `Raw` (run it as it is)

<img src="https://drive.google.com/uc?id=1H7TdWTw3kOQTiPYnCwFn7MCO36EBtMjV">


- `1` to save the notebook you are currently working on

- `2` to create a new cell

- `3` to cut or delete a cell

- `4` to copy a cell (which you may want to paste in another cell)

- `5` to paste a cell that was initially copied

- `6` to run the selected cell

- `7` to stop the kernel (to stop Python from working)

- `8` to restart the kernel

- `9` to restart the kernel and rerun the whole notebook

- `10` name of the notebook you are working on

- `11` status of the notebook you are working on

A cell in Jupyter notebook can accept python code or markdown. For example, the cell that contains what is your name? is a markdown. In a markdown, you can write the full explanatory of what the code does with texts mixed with simple text formatting such as bold face, italic, bulleted list, etc.

<img src="https://drive.google.com/uc?id=1emMCdpUmxm7ssCFyCUyOj-9hew60CpHf">

## Introduction to Google Colab

<img src="https://drive.google.com/uc?id=1EGmnlxIn6DrahXA0469mKMwQ0aCZLQoj">


Google Colab or Colab for short allows anybody to write and execute Python code through the browser free of charge. It is a specialized version of the Jupyter Notebook, which runs on the cloud and offers free computing resources.

It requires no setup to use while providing free access to computing resources including GPUs. You can also collaborate with others or share your completed work with other developers. You can access Colab via <https://colab.research.google.com>

# Experiment 1.2: Arithmetic operations, data types, and variable assigment in Python

In its most basic form, Python can be used as a calculator to perform basic arithmetic operations.


<img src="https://drive.google.com/uc?id=1Yf2YliJYbVUbn4oTgRCQ3EjC1oLJxa59">

Consider the following arithmetic operations:
    
- Addition

- Subtraction

- Multiplication

- Division

- Exponentiation (or Powers)

- Modulo

<img src="https://drive.google.com/uc?id=1ilEKeI5JF8TnsrQc9lGRRobFssveracp">

## Tips

`+`, `-`, `*`, `/`, `**`, `%` are called arithmetic operators

## Expressions

Python is well able to perform the well know mathematical operations. An expression is an operation or a set of operations in python that can evaluated to determine its value i.e. $1 + 2$ is an expression and the result $3$ is a value.

## Addition and substraction

# Example 1.2.1

Add 8 and 2 together i.e. 8 + 2

In [ ]:
8 + 2

10

Calculate 1 + 3 + 2

In [ ]:
1 + 3 + 8

12

Calculate `8 - 5`

In [1]:
8 - 5

3

Calculate `20 - 15`

In [ ]:
20-15

5

## Multiplication and Division

# Example 1.2.2

What is $2 \times 3$?

In [ ]:
2 * 3

6

What is $5 \times 4$?

In [ ]:
5 * 4

20

What is $-2 \times 4$ ?

In [ ]:
-2 * 4

-8

What is $3 \times 3$ ?

In [ ]:
3 x 3

SyntaxError: ignored

It is quite common in programming to make mistakes, even for programmers with years of experience. For most of the part, python will tell you where you have made a mistake by giving an error message. It is important to read the message and understand where you have made a mistake and resolve it. In this case, our error is where we have use $\times$ instead of *. Therefore, we correct the error as shown in the cell below:

In [ ]:
3 * 3

9

In [ ]:
10 / 5

2.0

## Exponentiation (or Powers)

Calculate   $4^2$

In [ ]:
4 ** 2

16

Calculate $3^2$

In [ ]:
3 ** 2

9

`Calculate` $9^2$

In [ ]:
9 ** 2

81

## Modulus

The modulo (or "modulus" or "mod") is the remainder after dividing one number by another. For example, $9$ $mod$ $2$ $= 1$. Because $9/2 = 4$ with a remainder of $1$. In mathematics, we write that as $9$ $mod$ $2 = 1$ and in Python we write it as $9$  \% $2 = 1$



`Calculate`  9 mod 2

In [ ]:
9 % 2

1

Calculate $11$ \% $3$

In [ ]:
11 % 3

2

That is, 2 is the remainder when you divide 11 by 3

 `Calculate` $21$ \% $4$

In [ ]:
21 % 4

1

`Calculate` 15 \% 6

In [ ]:
15 % 6

3

# Tip

The function `divmod()` in Python can be used to get the quotient and the remainder when dividing a number by another number. A quotient in mathematics is the actual result of the division of two numbers.

# Example 1.2.3

When you divide 5 by 2, the actual result is 2 and the remainder is 1

In [ ]:
divmod(5, 2)

(2, 1)

The quotient is 2 and the remainder is 1

## The floor division (//)

The floor division (`//`) rounds the result down to the nearest whole number

# Example 1.2.4

This is a normal division

In [ ]:
15 / 2

7.5

# Example 1.2.5

This is a floor division

In [ ]:
15 // 2

7

## Parentheses or brackets

Parentheses are used to denote grouping of operation in mathematics.It denotes modifications to normal order of operations. Remember BODMAS in mathematics? We shall use BEDMAS in programming:

B - Bracket

E - Exponentiation

D - Division

M - Multilication

A - Addition

S - Subtraction


In an expression like $3 \times (2 + 3)$, the part of the expression within the parentheses, $(2 + 3) = 5$, is evaluated first, and then this result is used in the rest of the expression i.e. $3 \times 5  = 15$.

# Example 1.2.6

In [ ]:
3 * (2 + 3)

15

# Example 1.2.7

$2^2 + 1$

In [ ]:
2**2 + 1

5

# Example 1.2.8

Use python to evaluate $2(3+1)$

In [ ]:
2(3+1)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-28-f57bf854ff11>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  2(3+1)

TypeError: ignored

This throws an error because we need to add an operator (*) before the parentheses or brackets.

In [ ]:
2*(3+1)

8

# Tips

There must be an operator ($+, -, *, /$) before and/or after the parentheses.

In [ ]:
3 * (3 + 2)

15

## Comment in Python

Adding comments to your code is a common practise in all programming languages.

This is important because:
    
1. It makes you remember a line of code you have written after leaving it for a while

2. It makes other who want to check your code to understand it line by line

3. It is good for documentation purpose

In order to add comments to your codes, you will use the `#` sign before writing your comments.

# Tip

Comments are not run as Python code, so they will not influence your result. Python ignores any anything that has `#` sign.

# Example 1

In [ ]:
# This adds 2 and 8 together. The result will be 10

2 + 8

10

As you can see, `This adds 2 and 8 together. The result will be 10` is our comment and we do that by using `#` sign.

## Comparison operators

We can compare two or more values by using comparison operators. These types of operators compare one value to another based on a condition. The result can either be `True` or `False` known as boolean (bool). The following are the most common comparison operators in python:

1. double equal to: `==`

2. not equal to `!=`

3. greater than`>`

4. less than `<`

5. greater than or equal to: `>=`

6. less than or equal to: `<=`

## Double equal operator `==`


This operator returns `True` if the two values are equal, otherwise it returns `False`

In [ ]:
# Is 5 equal to 3?

5 == 3

False

As you know the answer is `False`.

In [ ]:
# is 5 equal to 5

5 == 5

True

Yes! 5 is equal to 5.

In [ ]:
# Below we compare whether two numbers i.e. 5 and 7 are equal

5 == 7

False

Since the two values are not equal, then the result is `False`

## Not equal to operator `!=`

This operator returns `True` if the two values are not equal to each other, otherwise it returns `False`.

In [ ]:
# Below we compare whether 5 is not equal to 10

5 != 10

True

In [ ]:
# Below we compare whether 200 is not equal 100

200 != 100

True

## Greater than operator `>`

This operator returns `True` if the value on the left side of operator (>) is bigger than the value on the right side of the operator and `False` if otherwise.

In [ ]:
# is 100 greater than 30?

100 > 30

True

Since `100` is greater than `5`, the result is `True`

In [ ]:
# is -60 greater than 50?

-60 > 50

False

The answer is False. 50 is greater than -60

In [ ]:
# is -6 greater than - 5?

-6 > -5

False

As you can see, $-6$ is less than $-5$.

## Less than operator `<`

This operator returns `True` if the value on the left side of the operator (<) is smaller than value on the right side of the operator and `False` if otherwise.

In [ ]:
# is 100 less than 1000

100 < 1000

True

The result of the above expression is True since 100 is less than 10000

In [ ]:
# is -6 less than - 5?

-6 < -5

True

As you can see,  −6  is less than  −5 .

## Greater than or equal to operator  `>=`

This operator returns `True` if the value on the left side of the operator (>=) is bigger than or equal to the value on the right side of the operator and `False` if otherwise.

In [ ]:
# Below we compare whether 100 is greater than or equal to 1000

100 >= 1000

False

Since 100 is not greater than or equal to 1000, the result is False

In [ ]:
# Below we compare whether 60 is greater than or equal to 45

60 >= 45

True

In [ ]:
# We compare whether 100 is greater than or equal to 100

100 >= 100

True

## Less than or equal to operator `<=`

This operator returns `True` if the value on the left side of the operator (`<=`) is smaller than or equal to the value on the right side of the operator and `False` if otherwise.

In [ ]:
# is  100 less than or equal to 1000 ?

100 <= 1000

True

Yes, 100 is less than or equal to 1000

# Exercise 1.2.1

Launch Google Colab Notebook and share your file with one of your friends and then with your lecturer after completing the following tasks:

Create a new cell to calculate each of the following and comment where appropriate:
    
- There are 30 sweets in a box, Ezekiel picked 6 sweets from the box, Awokoya picked 8 sweets, Emeka picked 5, while Kunle picked 4. How many sweet is remaining in the box?

- $2^3$

- 11 // 5

- $(3 + 2) \times (6 - 4) + 2$

- -6 >= -5

# Experiment 1.3: Data Types and Variable Assignment in Python

Since Python is an object-oriented programming language. That is, we have many different objects in Python. The most common ones are strings, integers, floats, and boolean.

- Words or texts in Python are known as strings (str for short) e.g. "Kenya", "Male", "Super Star"

- Number without decimal are known as integers (int for short) e.g. $-1, 0, 9$

- Number with decimal are known as floats e.g. $3.142, -1.6, 4.2$

- Value with either True or False are known as boolean (bool for short)


<img src="https://drive.google.com/uc?id=1cX4mpT47xIlVl22oGDui08w8Q1xg2ItY">

Python can tell you the data type by using `type()` function. Python refers to integers as `int`, floats as `float`, character or text as `str` and boolean as `bool`.

## Integer data type

Integers are numerical (number) values that are positive or negative whole numbers without decimals

# Example 1.3.1

In [ ]:
type(20)

int

In [ ]:
type(2021)

int

## Float data type

Float (floating point) numbers are numbers with a decimal point.


# Example 1.3.2

In [ ]:
type(3.142)

float

In [ ]:
type(-11.124)

float

## String data type

Characters or texts are known as string in Python. A string object must be inside a single or double quotation. Otherwise, Python will throw an error.

# Example 1.3.3

In [ ]:
"I am from Lagos"

'I am from Lagos'

In [ ]:
type("I am from Lagos")

str

As you just learnt, this is a string(`str`) data type.

In [ ]:
I am from Lagos

SyntaxError: ignored

There is a `SyntaxError` because you don't put I am from Lagos in a double quotation. Now, correct the error by putting the texts in a double quotation.

In [ ]:
"I am from Lagos"

'I am from Lagos'

In [ ]:
type("I am from Lagos")

str

In [ ]:
"Python is so simple"

'Python is so simple'

# Tips

It is common to see most Python users to use the function `print()` in their line of codes. For now, all you need to know is that it instructs python on what to print.

In [ ]:
print("Hello, I am from Lagos and I can speak Yoruba")

Hello, I am from Lagos and I can speak Yoruba

In [ ]:
print(type("Hello, I am from Lagos and I can speak Yoruba"))

<class 'str'>

In [ ]:
print(4+6)

10

In [ ]:
print(type(14.6))

<class 'float'>

In [ ]:
?print

##  Boolean data type

A boolean or bool is an object in python that can take two values i.e. `True` or `False`.

# Tips

Values of a boolean must always start with a capital letter and then followed by small letters. This allows the programming language to identify the value as a boolean. When we check the type of `True` or `False`, the result is a `bool` which represents the boolean data type.

# Example 1.3.4

In [ ]:
# To check the data type

type(True)

bool

In [ ]:
# To check the data type

type(False)

bool

As we know some operations can result to boolean data type. For example:

In [ ]:
8 > 6

True

In [ ]:
6 < - 10

False

In [ ]:
"Lagos" != "Abuja"

True

## Variable assignment

In the simplest terms, a variable is a way at which a programmer stores a value so that it can be used over and over without having to repeat oneselve. A variable is just like a container that stores a value. For example, In the image below, `age` is a variable that stores the value of $15$ or the value of $15$ is stored into the variable age. Also, `country` is a variable that stores or hold the value of "Kenya". The equal operator (sign) is called an assignment.


<img src="https://drive.google.com/uc?id=1oNtCqZq0d7cepUdN0OCXR3iC2VF7SXEA">

# Example 1.3.5

In [ ]:
age =  15

To access what is in the variable `age`, you can do that by putting the name of the variable in the `print()` function or simple type the name of the variable without a `print()` function.

In [ ]:
print(age)

15

In [ ]:
age

15

We can also access the kind of data type in the variable age.

In [ ]:
type(age)

int

The value store in the variable `age` is an integer (`int`) data type

In [ ]:
country = "America"

In [ ]:
print(country)

America

In [ ]:
type(country)

str

The value stored in a variable `country` is a string (`str`) data type

# Tips

Programming is about automating mundane tasks that otherwise would have taken ages! It also makes sense for the programmer to make their work easier by having a single representation of knowledge at only one point of the programme. This in turn makes it easier to understand code and reduce the number of lines one has to write and hence saves time!

When a value is stored in a variable, you can then use that variable to do further calculation

In [ ]:
# Age now

age = 15

age

15

In [ ]:
# Next year age

age + 1

16

In [ ]:
# Age last two years

age - 2

13

In [ ]:
# Assigning values to Variables

x = 2

y = 3

z = 4

In [ ]:
x + y

5

In [ ]:
z - x - y

-1

In [ ]:
x * z

8

In [ ]:
x ** 2

4

In [ ]:
z % y

1

In [ ]:
divmod(z, x)

(2, 0)

# Example 1.3.6

You can assign multiple values to multiple variables at the same time in Python

In [ ]:
name, age, gender, country = "Jamal", 16, "Male", "Sudan"

In [ ]:
print(name)

Jamal

In [ ]:
print(age)

20

In [ ]:
print(gender)

Male

In [ ]:
print(country)

Sudan

## Naming rules for variables

It is good practice to give meanigful variable name so that when someone else or you in future can understand what you were trying to accomplish. The best naming convention is to choose a variable name that will tell the reader of the program what the variable represents.

## Rules for naming variables

- All variables must begin with a letter of the alphabet

- After the initial letter, variable names can also contain underscore (_), and/or a number. No spaces or special characters, however are allowed

- Uppercase strings are different from lowercase string in Python

## How to get information about a function?

If you want to become a good programmer, it is important to read functions documentations. This is like a user guide or manual about a certain function. There are many ways to get help in Python, but the simplest way is to question the function by using question mark. For example, to read the help file or documentation of `print()` function, we shall use `?print`.

In [ ]:
?print

It prints the values of an object.

Let’s see what `float()` function does by using `?float`

In [ ]:
?float

It converts a string or number to a floating point number, if possible.

# Warning

Don't use parentheses in the function when seeking for help. For example if you need a help on what int() function does, just type int without parentheses.

In [ ]:
?int

If you include parentheses, you will have the following:

In [ ]:
?int()

Object `int()` not found.

In [ ]:
?print()

Object `print()` not found.

---
As you can see, that is not what you are looking for.

## Data type conversions

Python allows us to convert objects from one data type to another. For example you may need to convert a `float` to an integer (`int`). In programming this is called typecasting and has a lot of very many useful applications as will be shown later.

# Tips

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e. 0.1)

# Example 1.3.7

Let us convert an integer `9` into a float i.e. `int` to `float`. First assign the value of 9 to a variable `nigeria_naira`.

In [ ]:
nigeria_naira = 9

Let us check the data type in the variable `nigeria_naira` by using `type()` function

In [ ]:
type(nigeria_naira)

int

Now that we are sure that the value in the variable `nigeria_naira` is an integer (`int`) data type. So, we can convert it to a float data type by using a `float()` function. Save the result as `nigeria_naira_float`

In [ ]:
nigeria_naira_float = float(nigeria_naira)

In [ ]:
type(nigeria_naira_float)

float

As you can see, we have cast the  integer (int) to a float data type

# Example 1.3.8

Try and convert a float to an integer. As discussed above, you will end up losing information so you should be careful about this type of conversion.

**Convert $9.345$ to an integer**

In [ ]:
int(9.345)

9

The result of the above code is 9, i.e. you lost 0.345 which is a lot. For example if it was an amount of money transfer, it would be potentially wrong to report that the amount was 9 instead of 9.345.

# Example 1.3.9


We can also convert a pure number that is recognised as string (`str`) due to one reason or the other to float or an integer. This is only possible when the string looks like an `int` or a `float` otherwise python will throw an error

In [ ]:
# Convert a string into an integer

age = "20"

type(age)

str

Because the value of age is in a quotation, therefore, Python sees this as a string. We can convert the value in age to an integer by using `int()` function.

In [ ]:
# Converting an inperfect string to an integer

new_age = int(age)

type(new_age)

int

We can also convert other data types to strings e.g.

In [ ]:
# Convert a float to string
str(9.7)

'9.7'

In [ ]:
# Convert an int to a string
str(6)

'6'

In [ ]:
# A mixture of number and a string

int("179 hours")

ValueError: ignored

This throws an error because this is not a pure number

# Example 1.3.10

In our introduction to boolean data type, we said that boolean can take two values `True` or `False`. It is often common in practise to represent `1` as `True` and   `0` as `False`. This can be seen when we convert booleans to integer (`int`) or `float`.

In [ ]:
# Convert False to integer

int(False)

0

In [ ]:
# Convert True to integer

int(True)

1

In [ ]:
# Convert integer 1 to bool

bool(1)

True

In [ ]:
# Convert integer 0 to bool

bool(0)

False

## Logical operators

In the last section we discussed about some mathematical operators such as `+`, `-`, `*`, `/`, `**`, and `%` and comparison operators such as `==`, `!=`, `>`, `>=`, `<`, and `<=`. In this section, you will learn about logical operators.

Logical operators test whether an expression is `True` or `False`. There are three types of logical operators namely `and`,  `or`,  `not`.

1. `and` - This operator return a False when it encounters a `False` condition

2. `or` -  This operator returns a True when it encounters at least a `True` condition

3. `not`-  This operator returns `True` if the condition is `False` and `True` if the condition is `False`

# Example 1.3.11

**Using the `and` operator**

We define a variable `mins` to represent the number of minutes a money transfer transaction in GTB takes to be completed.

In [ ]:
mins = 3

In [ ]:
# Run this cell to see the outcome

mins < 7 and mins < 1

False

Since the two expressions are both False i.e.

`mins < 7`  is `False`  

`mins < 1` is `False`

Therefore, `mins < 7 and mins < 1` will be `False`

In [ ]:
# To cross check

False and False

False

# Example 1.3.12

**Using the `or` operator**

We define a variable `year` to represent the number of years Panam Pancy Paul a Jos man has been living in Abuja.

In [ ]:
year = 12

In [ ]:
# Run this cell to see the outcome

year == 12 or  year < 10

True

Since one expression is True i.e.

`year == 12 `  is `True`  

`year < 10 ` is `False`

Therefore, `year == 12 or  year < 10` will be `True`

# Example 1.3.13

**Using the `not` operator**

We define a variable `mins` to represent the number of minutes a money transfer transaction in Sudan takes to be completed.

In [ ]:
mins = 10

In [ ]:
mins > 5

True

In [ ]:
not mins > 5

False

As you know, anything that is not `True` is `False`! For example:

In [ ]:
not True

False

In [ ]:
not False

True

# Exercise 1.3.1

**Task 1**

Answer the following using Python:

What is your name? Assign the value to the variable `name`

How old are you? Assign the value to the variable `age`

Are you a male or female? Assign the value to the variable `gender`

What state did you come from? Assign the value to the variable `state`

What language can you speak? Assign the value to the variable `language`

True or False, do you smile today? Assign the value to the variable `smile`

---

The list of the variables to create and assign values to are:

`name`

`age`

`gender`

`state`

`language`

`smile`

In [ ]:
### CG T1
### write your code here:

name =

age =

gender =

state =

language =

smile =

**Task 2**


Explain why some variable names in the example are acceptable and why some are not in Python

<img src="https://drive.google.com/uc?id=1NDbTGuy71awYbBNdwV3I14tAF7Fk91j_">

### CG T2
### Write your answer here for sample variable names

# Experiment 1.4: Python functions

Python function is a block of organized and reusable code that is used to perform a single and related action. It is a piece of code that runs when it is called or referenced. Python provides many inbuilt functions like `print()`, `input()`, `type()`, `len()`, etc. but it also gives freedom to create your own functions.


<img src="https://drive.google.com/uc?id=1jInKnOYvVD-s8MtyD49Sp6vmkDUtC86d">

## Type of Functions

Function extends the functionality of Python. Basically, we can categorize functions into the following two types:

**Built-in functions** - Functions that are pre-defined in Python

**User-defined functions** - Functions defined by the users themselves

## Advantages of Python Functions

Function allows you to automate repetitive tasks in a more powerful way than copy-and-pasting. Writing a function has the following advantages:

- You can give a function a name that makes your code easier to understand and remember.

- As something changes, you only need to update code in one place, instead of many places.

- It avoids repetition and makes the code reusable.

- Improves maintainability of the code.

## When should you write a function?

You should consider writing a function whenever you have copied and pasted a block of code more than twice.

## Creating a function in Python

You can define functions by following the rules below:

* Function blocks begin with the keyword **def** followed by the `function_name`, parentheses `()`, a colon (`:`), and is indented. Function name follows the same rules of naming variables in Python.

* Any parameters or arguments should be placed within these parentheses. You can add as many arguments as you want, just separate them with a comma. Parameters (arguments) helps to pass values to a function. They may be optional sometimes.

* A colon (:) to mark the end of the function header.

* Optional documentation string (docstring) to describe what the function does (for documentation purposes).

* One or more valid python statements that make up the function body. Statements must have the same indentation level (Jupyter lab/notebook does this for you when you press return button after the colon mark).

* Functions may return a value to the caller, using `return` statement. This is optional.


## Function syntax

```python
def functionname(parameters):
   "function_docstring descrinng what the function does"

   # list of expressions to be executed
    
   return (expression)
```

In graphical form, here is a function that returns the sum of two given numbers


<img src="https://drive.google.com/uc?id=1gFKWcQEEuF2ItMgGSROhDR8k60VnPKH9">

# Tip

The terms parameter and argument can be used for the same thing: information that are passed into a function.

## Calling a Function in Python

You can call a function by its name. If the function accepts parameters or arguments, you will have to pass them while calling the function.

# Example 1.4.1

In [ ]:
# A function that can sum two numbers together

def sum_two_numbers(a, b):
    "This function add two numbers together"
    return (a + b)

In [ ]:
sum_two_numbers(9, 7)

16

Since function is reusable. We can also get the sum of $6$ and $9$ by using the `sum_two_numbers()` function

In [ ]:
sum_two_numbers(6, 9)

15

# Indentation error

If your code is not well indented inside a function, it will throw an error. For example,

In [ ]:
def sum_two_numbers(a, b):
    "This function add two numbers together"
y = a + b
    return (y)

IndentationError: unexpected indent (<ipython-input-45-ed23e87d8ece>, line 4)

# Example 1.4.2

The following function takes two numbers as arguments and prints out their sum:

In [ ]:
def add(x, y):
    "This function add two numbers together in another form"
    print(f"The sum of {x} and {y} is {x+y}")

In [ ]:
add(2, 6)

The sum of 2 and 6 is 8

**You may also specify function arguments and supply their values**

In [ ]:
add(x = 10, y = 32)

The sum of 10 and 32 is 42

# Example 1.4.3

This function prints out the demographic information about a student taken a particular course

In [ ]:
def student_info(name, age, gender, course_code, state):
   print(f"Information about a student taken {course_code} course:")
   print ("Name:", name)
   print ("Age:", age)
   print ("Gender:", gender)
   print("Country:", state)

In [ ]:
# Now you can call student_info function

student_info(name = "Bola", age = 18, gender = "Female", course_code = "COS 101", state = "Lagos")

Information about a student taken COS 101 course:
Name: Bola
Age: 18
Gender: Female
Country: Lagos

In [ ]:
student_info(name = "Okoli", age = 25, gender = "Male", course_code = "DTS 211", state = "Oyo")

Information about a student taken DTS 211 course:
Name: Okoli
Age: 25
Gender: Male
Country: Oyo

# Example 1.4.4: Building Simple Calculator by Using Functions

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 3
Enter first number: 112
Enter second number: 15
112.0 * 15.0 = 1680.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 1
Enter first number: 1
Enter second number: 4
1.0 + 4.0 = 5.0
Let's do next calculation? (yes/no): no

# Exercise 1.4.1

## Task 1

Suppose you take out a loan with a principal amount of #100,000. If the annual interest rate on the loan is 5% and you plan to repay it in 3 years, how much interest will you owe at the end of the loan term?

For this task write a function called `interest()` that accepts the 3 parameters as input arguments and calculates the amount of interest owed at the end of the loan term.
The 3 input arguments should be in the given order:
- The principle loan amount
- The annual interest rate
- The number of years in which the loan should be repayed

Once you have written the function, call it with the provided parameters:
- Principal (P) = #100,000
- Rate (R) = 5% per annum
- Time (T) = 3 years

## Solution

In [ ]:
### CG T1
### Write your function here:

In [ ]:
### Run your function with the provided parameters here:

## Task 2

Write a function called `celsius_to_fahrenheit()` that converts a temperature from degrees Celsius to degrees Fahrenheit.

You can use this formula:

$T_c ∗ 1.8 + 32$

where $T_c$ is the temperature in degrees celsius to be converted.

Once you have written the function, use it to convert the following temperatures from Celsius to Fahrenheit:

1. 100

2. 75

3. 120

## Solution

In [ ]:
### CG T2
### Write your function here:

In [ ]:
### Run your function with the provided parameters here:

# Experiment 1.5: Data Structure

The basic Python data structures in Python include list, set, tuples, and dictionary. Each of the data structures is unique in its own way. Data structures are “containers” that organize and group data according to type.


<img src="https://drive.google.com/uc?id=1KQRyUBES9eabkEcdhHDlkJKeZidBR8TY">

## Lists

Lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. You can create a list by puting all items or elements in a square bracket `[]` where each element is being separated by a comma. The items or elements in a list can be of any data types i.e. floats, integers, strings, boolean or there combination.

Let's explore some useful examples:

In [ ]:
# An empty list

alist = []

type(alist)

list

In [ ]:
ages = [21, 23, 16, 6, 76, 7]

In [ ]:
ages

[21, 23, 16, 6, 76, 7]

In [ ]:
type(ages)

list

In [ ]:
sola = 20

tayo = 23

aisat = 21

participant_names = [sola, tayo, aisat]

participant_names

In [ ]:
countries = ["Ghana", "South Sudan", "Kenya", "Nigeria", "Ethiopia", "Uganda" ]

In [ ]:
countries

['Sudan', 'South Sudan', 'Kenya', 'Ethiopia', 'Somalia', 'Uganda']

In [ ]:
type(countries)

list

## The len function

You can get the number of elements in a list by using `len()` function. For example:

In [ ]:
east_africa = ["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"]

len(east_africa)

7

In [ ]:
eastafrica_northafrica = [["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"],
                           ["Algeria", "Egypt", "Libya", "Morocco", "Sudan", "Tunisia"]]

len(eastafrica_northafrica)

2

## Indexing and Slicing

This works the same as the indexing and slicing of a string. For example:

In [ ]:
mylist = [90, 2.5, "Joan", 123, 0.75, True, False, "Ruth", "Jamal"]

In [ ]:
mylist[2]

'Joan'

In [ ]:
mylist[0:3]

[90, 2.5, 'Joan']

## Mutability

List is mutable, that is, you can change the element of a list to another. For example,

In [ ]:
mylist = [1, 2, 3, 4, 5]

In [ ]:
mylist[0]

1

In [ ]:
mylist[0] = 9

In [ ]:
mylist

[9, 2, 3, 4, 5]

As you can see, we have changed the first element in a list from $1$ to $9$.

## List Methods

Methods are actions you can call from an objects. Their typical format is:

    mylist = [elements in a list]
    
    mylist.method()
    
You must call the parenthesis to execute the method! Let's go through a few methods that pertain to lists.

### .append( ) method

This appends or add an object to the end of the list. It can only add one element at a time. For example:

In [ ]:
mylist = [90, 2.5, 'Aaden', 123, 0.75, True, False, 'Adhra', True, "No"]

In [ ]:
mylist.append(6)

In [ ]:
mylist

[90, 2.5, 'Aaden', 123, 0.75, True, False, 'Adhra', True, 'No', 6]

### .extend()

Alternative to `.append()` is `.extend()` which extends list by appending more than one element.

In [ ]:
mylist.extend(["Addisu", "Aklilu", "Amondi", "Bakari"])

In [ ]:
mylist

[90,
 2.5,
 'Aaden',
 123,
 0.75,
 True,
 False,
 'Adhra',
 True,
 'No',
 6,
 'Jamal',
 'Addisu',
 'Aklilu',
 'Amondi',
 'Bakari']

### .insert( ) method

`.insert()` method insert object before a given index position. For example:

In [ ]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

In [ ]:
visited_countries.insert(0, "South Africa")

In [ ]:
visited_countries

['South Africa',
 'America',
 'Rwanda',
 'Singapore',
 'Italy',
 'Canada',
 'Mauritius']

### .pop() method

`.pop()` method remove and return item at index (default last).

In [ ]:
mylist = [90, 2.5, 'Aaden', 123, 0.75, True, False, 'Adhra', True, "No"]

mylist.pop()

'No'

In [ ]:
mylist

[90, 2.5, 'Aaden', 123, 0.75, True, False, 'Adhra', True]

### .reverse() method

`.reverse()` method reverse the order of the list

In [ ]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

visited_countries.reverse()

visited_countries

['Mauritius', 'Canada', 'Italy', 'Singapore', 'Rwanda', 'America']

### .sort() method

`.sort()` method sort the list in ascending order and return None

In [ ]:
# Example 1

egg_weight = [59, 56, 61, 68, 52, 53, 69, 54, 57, 51]


egg_weight.sort()

In [ ]:
egg_weight

[51, 52, 53, 54, 56, 57, 59, 61, 68, 69]

# Exercise 1.5.1

13 students have taken an exam. Their scores are:
10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, and 17.

You are a teacher and need to help recording these grades.

- Create a list of these scores and assign it to a variable named `marks`.

- Arrange the elements of `marks` in descending order.

# Solution

In [ ]:
# Create a list of scores and name it `marks`.


# Arrange the elements of `marks` in descending order.



# Make sure you print your resulting list

## Tuples

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. That is, you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Just like the elements in a list are put in a square bracket `[ ]` seperated by a comma, elements in a tuple are enclosed in a parentheses or brackets `( )` separated by comma `,`.

# Tip

You use parenthesis and commas for a tuple. Please note that List is immutable while Tupple is mutatable.

## Example

In [ ]:
# An empty tuple

atuple = ()

type(atuple)

tuple

In [ ]:
t = (3, 2)

t

(3, 2)

# Sets

Another fundamental data structure is Set! Set is an unordered and unindexed collection of unique elements. We can construct them by using a curly bracket`{ }` while elements in a set is being separated by a comma (,).

For example:

In [ ]:
call_received = {0, 1, 4, 2, 3, 5}

call_received

{0, 1, 2, 3, 4, 5}

In [ ]:
type(call_received)

set

You will notice that elements in a set has been arranged in an organised ascending order

In [ ]:
# Here are the set of fruits in my Fridge

myfruit = {"Apple", "Banana", "Cherry", "Orange", "Pineapples", "Grape", "Pawpaw"}

In [ ]:
myfruit

{'Apple', 'Banana', 'Cherry', 'Grape', 'Orange', 'Pawpaw', 'Pineapples'}

In [ ]:
type(myfruit)

set

# Tip

One unique feature about set is that, it doesn't support duplicate of an element. For example:

In [ ]:
student_age = {19, 20, 15, 19, 16, 21, 17}

student_age

{15, 16, 17, 19, 20, 21}

In [ ]:
type(student_age)

set

You will see that our initial elements in student age are 19, 20, 15, 19, 16, 21, and 17 but set has removed all the duplicates and we now left with the elements 15, 16, 17, 19, 20, and 21

# Dictionary

Dictionary is an ordered collection of `key-value` pairs.That is, it makes use of two elements, namely, a key and a value. Dictionary is usually used when we have a huge amount of data. We must know the `key` before we can retrieve the `value`.

We can create a dictionary by defining keys and value elements inside a curly bracket`{}.

In [ ]:
# Example 1

my_dictionary = {"Key 1": "Value 1", "Key 2": "Value 2",  "Key 3": "Value 3"}

In [ ]:
my_dictionary

{'Key 1': 'Value 1', 'Key 2': 'Value 2', 'Key 3': 'Value 3'}

In [ ]:
type(country)

str

In [ ]:
# Example 2

# Life expectancy is the average number of year a person is expected to live based on the year of its birth

# life expectancy in the year 2020

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

In [ ]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [ ]:
type(life_expectancy)

dict

## Length of a dictionary

To determine how many items a dictionary has, use the `len()` function.

In [ ]:
## Example 1

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65,
                   "Tanzania": 64, "Somalia": 54}

len(life_expectancy)

8

In [ ]:
## Example 2

africa_regions = {"East Africa": ["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"],
                    "North Africa": ["Algeria", "Egypt", "Libya", "Morocco", "Sudan", "Tunisia"],
                    "West Africa": ["Nigeria", "Ghana" "Senegal", "Benin", "Liberia", "Mali", "Niger"],
                      "Central Africa": ["Angola", "Cameroon", "Chad", "Congo", "DRC", "Gabon"],
                      "Southern Africa": ["Botswana", "Eswatini", "Lesotho", "Namibia", "RÈunion", "South Africa"]}

len(africa_regions)

5

## Accessing dictionary items

Dictionary items are presented in key : value pairs, and can be referred to by using the key name. To access a specific value in the dictionary data set, you need to index the right `key`. Dictionaries in Python are mutable and the elements in a dictionary can be added, removed, modified, and changed accordingly.

You can access the items of a dictionary by referring to its key name, inside square brackets. For example, consider life expectancy dictionay:

In [ ]:
life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

To access the value in the key Nigeria, we use:

In [ ]:
life_expectancy["Nigeria"]

60

Also, for Ethiopia, we use:

In [ ]:
life_expectancy["Ethiopia"]

68

You can not access items in a dictionary by index

In [ ]:
life_expectancy[1]

KeyError: 1

## Dictionary Methods

Methods in a dictionary are as follows:


- `.keys()`

- `.values()`

- `.items()`

- `.updates()`

## .keys() method

The `.keys()` method will return a list of all the keys in the dictionary.

In [ ]:
# Example 1

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65,
                   "Tanzania": 64, "Somalia": 54}

In [ ]:
life_expectancy.keys()

In [ ]:
# Example 2

africa_regions = {"East Africa": ["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"],
                    "North Africa": ["Algeria", "Egypt", "Libya", "Morocco", "Sudan", "Tunisia"],
                    "West Africa": ["Nigeria", "Ghana" "Senegal", "Benin", "Liberia", "Mali", "Niger"],
                      "Central Africa": ["Angola", "Cameroon", "Chad", "Congo", "DRC", "Gabon"],
                      "Southern Africa": ["Botswana", "Eswatini", "Lesotho", "Namibia", "RÈunion", "South Africa"]}

In [ ]:
africa_regions.keys()

## .values() method

The `.values()` method will return a list of all the values in the dictionary.

In [ ]:
# Example 1

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65,
                   "Tanzania": 64, "Somalia": 54}

In [ ]:
life_expectancy.values()

In [ ]:
# Example 2

africa_regions = {"East Africa": ["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"],
                    "North Africa": ["Algeria", "Egypt", "Libya", "Morocco", "Sudan", "Tunisia"],
                    "West Africa": ["Nigeria", "Ghana" "Senegal", "Benin", "Liberia", "Mali", "Niger"],
                      "Central Africa": ["Angola", "Cameroon", "Chad", "Congo", "DRC", "Gabon"],
                      "Southern Africa": ["Botswana", "Eswatini", "Lesotho", "Namibia", "RÈunion", "South Africa"]}

In [ ]:
africa_regions.values()

## .items() method

The `items()` method will return each item in a dictionary, as tuples in a list.

In [ ]:
# Example 1

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65,
                   "Tanzania": 64, "Somalia": 54}

In [ ]:
life_expectancy.items()

In [ ]:
# Example 2

africa_regions = {"East Africa": ["Ethiopia", "Kenya", "Rwanda", "Somalia", "South Sudan", "Uganda", "Burundi"],
                "North Africa": ["Algeria", "Egypt", "Libya", "Morocco", "Sudan", "Tunisia"],
                "West Africa": ["Nigeria", "Ghana" "Senegal", "Benin", "Liberia", "Mali", "Niger"],
                "Central Africa": ["Angola", "Cameroon", "Chad", "Congo", "DRC", "Gabon"],
                "Southern Africa": ["Botswana", "Eswatini", "Lesotho", "Namibia", "RÈunion", "South Africa"]}

In [ ]:
africa_regions.items()

## Update Dictionary

The `.update()` method will update the dictionary with the items from the given argument. The argument must be an object with key:value pairs.

In [ ]:
life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65,
                   "Tanzania": 64, "Somalia": 54}

You were given the life expectancy of Burundi as $70$. You can add that to the existing dictionary by using:

In [ ]:
life_expectancy.update({"Burundi": 67})

In [ ]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}

We can also use a new index key and value to add a new item

In [ ]:
life_expectancy["Eritrea"] = 66

In [ ]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67,
 'Eritrea': 66}

## Removing Items in a dictionary

The `del` keyword removes the item with the specified key name.

For example, to delete information about Eritrea in the life expectancy dictionary we use:

In [ ]:
del life_expectancy["Eritrea"]

In [ ]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}


To delete information about Burundi, we use:

In [ ]:
del life_expectancy["Burundi"]

In [ ]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

# Exercise 1.5.2



## Task 1

The number of confirmed COVID-19 cases in selected countries is shown in the table below:

|             |                                |
|-------------|--------------------------------|
| Burundi     | 694                            |
| Ethiopia    | 113295                         |
| Ghana       | 52198                          |
| Kenya       | 88380                          |
| Nigeria     | 68937                          |
| Rwanda      | 6129                           |
| Somalia     | 4525                           |
| South Sudan | 3166                           |
| Sudan       | 19196                          |
| Uganda      | 22499                          |

In this task, we are going to practice using and manipulating dictionaries.

1. Create a dictionary for the given data and name it `COVID_19`

2. How many keys are in the data? assign your answer to a variable called `num_keys`.

3. Remove Nigeria from the data

4. Add Tanzania with the value $509$

#### Question 1: Create a dictionary for the given data and name it `COVID_19`

In [ ]:
### CG T1_1
### Write your code below:

#### Question 2: How many keys are in the data? assign your answer to a variable called `num_keys`.

In [ ]:
### CG T1_2
### Write your code below:

#### Question 3: Remove Nigeria from the dataset

In [ ]:
### CG T1_3
### Write your code below:

#### Question 4: Add Tanzania to the dataset. Tanzania recorded $509$ cases of COVID-19.

In [ ]:
### CG T1_4
### Write your code below:

## Task 2

Consider the dictionary:

In [ ]:
### CG T2_init
### DON'T DELETE THIS CODE!

food = {
    "fruits": ["apples", "oranges", "pears", "mangoes"],
    "vegetables": ["tomatoes", "lettuce", "spinach", "green peppers"],
    "meat": ["chicken", "fish", "beef", "ostrich"],
    "dairy": ["yogurt", "milk", "cheese", "ice-cream"]
}

#### Question 1: How many keys does the dictionary `food` have?

In [ ]:
### CG T2_1
### Write your code below:

#### Question 2: List the values in `food`

In [ ]:
### CG T2_2
### Write your code below:

#### Question 3: How do you access `"spinach"` from `food`?

In [ ]:
### CG T2_3
### Write your code below:

#### Question 4: How do you add `"grapes"` to the list of fruits in `food`?

In [ ]:
### CG T2_4
### Write your code below:

# Python Learning Resources

For more resources in this Laboratory, please consider the following:

- http://bit.ly/why-jupyter-lab
- https://www.youtube.com/watch?v=7wfPqAyYADY
- https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook
- https://realpython.com/jupyter-notebook-introduction/
-  	https://bit.ly/Python-for-beginners-YouTube

# Lab Summary

This Lab has introduced you to `Python` programming fundamentals and you have learnt that:
1.	Python can be used as a calculator to do some arithmetic operations
2.	Data type includes integer, float, string, and Boolean
3.	Boolean data type can either be True or False
4.	String data type can be created by using either single quote ' ' or double quote " ".
5.	Python makes use of # to make a comment
6.	Comparison operators include = =, !=, >, <, >=,  and <=.
7. Python has built-in functions and user-defined functions
8. Python data structure includes list, tuple, set and dictionary.